* {
	border: none;
	border-radius: 0px;
	font-family: "Fira Code";
	font-weight: bold;
	font-size: 12px;
	min-height: 10px;
}

@import "theme.css";

window#waybar {
	background: rgba(24, 24, 37, 0.2);
}

tooltip {
	background: @mantle;
	color: @text;
	border-radius: 7px;
	border-width: 0px;
}

#workspaces button {
	box-shadow: none;
	text-shadow: none;
	padding: 0px;
	border-radius: 9px;
	margin-top: 3px;
	margin-bottom: 3px;
	margin-left: 0px;
	padding-left: 3px;
	padding-right: 3px;
	margin-right: 0px;
	color: @mauve;
	animation: ws_normal 20s ease-in-out 1;
}

#workspaces button.active {
	background: @mauve;
	color: @base;
	margin-left: 3px;
	padding-left: 12px;
	padding-right: 12px;
	margin-right: 3px;
	animation: ws_active 20s ease-in-out 1;
	transition: all 0.4s cubic-bezier(.55, -0.68, .48, 1.682);
}

#workspaces button:hover {
	background: @pink;
	color: @base;
	animation: ws_hover 20s ease-in-out 1;
	transition: all 0.3s cubic-bezier(.55, -0.68, .48, 1.682);
}

#taskbar button {
	box-shadow: none;
	text-shadow: none;
	padding: 0px;
	border-radius: 9px;
	margin-top: 3px;
	margin-bottom: 3px;
	margin-left: 0px;
	padding-left: 3px;
	padding-right: 3px;
	margin-right: 0px;
	color: @mauve;
	animation: tb_normal 20s ease-in-out 1;
}

#taskbar button.active {
	background: @mauve;
	color: @text;
	margin-left: 3px;
	padding-left: 12px;
	padding-right: 12px;
	margin-right: 3px;
	animation: tb_active 20s ease-in-out 1;
	transition: all 0.4s cubic-bezier(.55, -0.68, .48, 1.682);
}

#taskbar button:hover {
	background: @wb-hvr-bg;
	color: @wb-hvr-color;
	animation: tb_hover 20s ease-in-out 1;
	transition: all 0.3s cubic-bezier(.55, -0.68, .48, 1.682);
}

#tray menu * {
	min-height: 16px
}

#tray menu separator {
	min-height: 10px
}

#backlight,
#battery,
#bluetooth,
#custom-cliphist,
#clock,
#custom-cpuinfo,
#cpu,
#custom-gpuinfo,
#idle_inhibitor,
#custom-keybindhint,
#language,
#memory,
#mpris,
#network,
#custom-notifications,
#custom-power,
#pulseaudio,
#custom-spotify,
#custom-playerctl,
#taskbar,
#custom-theme,
#tray,
#custom-updates,
#custom-wallchange,
#custom-wbar,
#custom-music,
#window,
#workspaces,
#custom-l_end,
#custom-r_end,
#custom-sl_end,
#custom-sr_end,
#custom-rl_end,
#custom-rr_end,
#custom-airpods {
	color: @mauve;
	background: transparent;
	opacity: 1;
	margin: 4px 0px 4px 0px;
	padding-left: 4px;
	padding-right: 4px;
	border-width: 0.6px;
	border-left-width: 0;
	border-right-width: 0;
}

#workspaces,
#taskbar {
	padding: 0px;
}

#custom-r_end {
	border-radius: 0px 21px 21px 0px;
	margin-right: 9px;
	padding-right: 3px;
}

#custom-l_end {
	border-radius: 21px 0px 0px 21px;
	margin-left: 9px;
	padding-left: 3px;
}

#custom-sr_end {
	border-radius: 0px;
	margin-right: 9px;
	padding-right: 3px;
}

#custom-sl_end {
	border-radius: 0px;
	margin-left: 9px;
	padding-left: 3px;
}

#custom-rr_end {
	border-radius: 0px 7px 7px 0px;
	margin-right: 9px;
	padding-right: 3px;
}

#custom-rl_end {
	border-radius: 7px 0px 0px 7px;
	margin-left: 9px;
	padding-left: 3px;
}

#custom-music {
	background: rgb(137, 180, 250);
	background: radial-gradient(circle, rgba(137, 180, 250, 120) 0%, rgba(142, 179, 250, 120) 6%, rgba(148, 226, 213, 1) 14%, rgba(147, 178, 250, 1) 14%, rgba(155, 176, 249, 1) 18%, rgba(245, 194, 231, 1) 28%, rgba(158, 175, 249, 1) 28%, rgba(181, 170, 248, 1) 58%, rgba(205, 214, 244, 1) 69%, rgba(186, 169, 248, 1) 69%, rgba(195, 167, 247, 1) 72%, rgba(137, 220, 235, 1) 73%, rgba(198, 167, 247, 1) 78%, rgba(203, 166, 247, 1) 100%);
	background-size: 400% 400%;
	animation: gradient_f 9s cubic-bezier(.72, .39, .21, 1) infinite;
	text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.377);
	font-weight: bold;
	color: @mantle;
	border-radius: 50px;
}

#custom-media {
	background: rgb(137, 180, 250);
	background: radial-gradient(circle, rgba(137, 180, 250, 120) 0%, rgba(142, 179, 250, 120) 6%, rgba(148, 226, 213, 1) 14%, rgba(147, 178, 250, 1) 14%, rgba(155, 176, 249, 1) 18%, rgba(245, 194, 231, 1) 28%, rgba(158, 175, 249, 1) 28%, rgba(181, 170, 248, 1) 58%, rgba(205, 214, 244, 1) 69%, rgba(186, 169, 248, 1) 69%, rgba(195, 167, 247, 1) 72%, rgba(137, 220, 235, 1) 73%, rgba(198, 167, 247, 1) 78%, rgba(203, 166, 247, 1) 100%);
	background-size: 400% 400%;
	animation: gradient_f 9s cubic-bezier(.72, .39, .21, 1) infinite;
	text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.377);
	font-size: 12px;
	font-weight: bold;
	color: @mantle;

	box-shadow: none;
	text-shadow: none;
	padding: 0px;
	border-radius: 50px;
	margin-top: 3px;
	margin-bottom: 3px;
	margin-right: 5px;
	padding-left: 10px;
	padding-right: 10px;
}
